{%extends 'base2.html'%}
{% load bootstrap4 %}
{% block content %}
{{ block.super}}

<section style="background-color:#CC3532 ;height: 170px;font-family: Lato, sans-serif;">
        <div class="container" style="text-align: center;">
          <h1 style="color: white;font-size:52px ;font-family: Lato, sans-serif;">About us</h1>
          <div class="container" style="background-color:#CC3532 ;">
            <p style="color: white;text-align:center;font-size: 20px;font-family: Lato, sans-serif;">Forex Broker Killer, A division of Mmutlane Traders
            </p>
          </div>
        </div>
      </section>
<br><br><br><br><br><br><br><br><br><br>
      <div class="container">

        <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">      
                  <div class="card" style="width: 60%;">
                      <img src="../../static/img/mutale.webp" alt="" class="img-fluid">
                  </div>
                
                </div>

               

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">      
                    <div class="card">
                        <div class="container">
                            <br><br><br>
                            <b><h3 style="font-family: Lato, sans-serif;">Our vision  </h3></b>

                            <p>Our goal is to eradicate poverty and unemployment. We see ourselves as the new generation Moses through financial freedom.</p>
                            <br>
                            <p>We have visualized having branches in all the nine South African provinces with each ran by our most valued and trusted traders serving the same purpose with the help of that particular provinces’ residents, taking one province at a time.​</p>
                        <br><br><br><br><br>
                        </div>
                    </div>
                
                        </div>


                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
                                   
                                    <div class="card" style="width: 60%;">
                                        
                                            <img src="../../static/img/fbklogo.webp" alt="" class="img-fluid">
                                        </div>
                            
                                </div>
      </div>

<br><br><br><br><br>
      <b><h3 style="text-align:center">Meet Our Lead Instructors</h3></b>
<br>
      <p style="text-align: center;">Visit our website weekly to view the schedule/fundamental signals that will change your life</p>
      <br><br>
<div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <div class="card">
                <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <img src="../../static/img/partner.webp" alt="" class="img-fluid">
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <br><br>
                                <b><h3 style="text-align:center">Dj Coach</h3></b>
                            
                                <p style="text-align: center;">Co-founder & director</p>
                            </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <div class="card">
                    <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                <img src="../../static/img/partner.webp" alt="" class="img-fluid">
                            </div>
    
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                <br><br>
                                    <b><h3 style="text-align:center">Bethuel</h3></b>
                                
                                    <p style="text-align: center;">Manager</p>
                                </div>
                    </div>
                </div>
            </div>

</div>
      
      <br><br><br><br>
<b><h3 style="text-align:center">What Our Students Have To Say</h3></b>
<br><br><br>
<div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card">
  
                <div class="card-body">
                 <br>
                 <p style="font-family: Lato, sans-serif;">Forex has changed my life, master the skills and you will never regret investing your time in forex</p>
                 <b><p style="font-family: Lato, sans-serif;">Sizwe Bhuda</p></b>
                 <p class="text-secondary" style="font-family: Lato, sans-serif;">Nelspruit, Mpumalanga</p>
                 
                </div>
              </div>

             

            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="card">
  
                            <div class="card-body">
                             <br>
                             <p style='font-family: Lato, sans-serif;'>Do yourself a favour. do your family a favour, learn forex Today and say hello to financial liberation</p>
                             <b><p style='font-family: Lato, sans-serif;'>Lerato Kubheka</p></b>
                             <p style='font-family: Lato, sans-serif;' class="text-secondary">New castle, KZN</p>
                             
                            </div>
                          </div>
            
                         
            
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <br>
                                <div class="card">
              
                                        <div class="card-body">
                                         <br>
                                         <p style='font-family: Lato, sans-serif;' >FBK is a game changer, the one minute FBK strategy worked for me and for that i will always be a FBK family member</p>
                                         <b><p style='font-family: Lato, sans-serif;'>Khutso Mokoen</p></b>
                                         <p style='font-family: Lato, sans-serif;' class="text-secondary">Pretoria, Gauteng</p>
                                        </div>
                                      </div>
                        
                                     
                        
                                    </div>


                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                        <br>
                                            <div class="card">
                          
                                                    <div class="card-body">
                                                     <br>
                                                     <p style='font-family: Lato, sans-serif;'>Level up! Join FBK Today and start learning the forex secrets. "it takes a minute to be a millionaire"</p>
                                                     <b><p style='font-family: Lato, sans-serif;'>Jack Brownn</p></b>
                                                     <p  style='font-family: Lato, sans-serif;' class="text-secondary">JHB, Gauteng</p>
                                                    </div>
                                                  </div>
                                    
                                                 
                                    
                                                </div>
    </div>
      </div>
    
<br><br>
      <section style="background-color: #CC3532;">
            <br><br><br><br>
            <h1 style="color: white;text-align: center;">Our Purpose & Mission</h1>
          <br>
          <h5 style="text-align: center;color: white;">To train, employ and change lives and generations to build a country of financially free <br>
            citizens, we are not going to wait for the government to try and fix the country on its<br> own, we have the skills and tools to do the bit that they cannot do ourselves, beyond that <br>
            we want to make sure that we change the generations after us and those who we employ <br>
            by doing that we are planting the spirit of changing lives in all those who we do business <br>
            with and those who are employed by us. This is a corporate ride for the game changers.
        
        
        </h5>
            <br><br>
            <div class="container">
        <div class="row">
          
            <div class="col text-center">
        <a href="{% url 'portal' %}" class="btn btn-light btn-lg" style="color: #0784E3;">Start Learning</a>
        </div>
        
        </div>
        </div>
        <br>
            </section>
        
            <section style="background-color: #0784E3;">
                <br>
            <div class="container">
                <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <p style="font-size: 13px;color: white;">RISK WARNING: Forex trading involves significant risk of capital, read terms & conditions</p>
            
            
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            
            <p style="font-size: 13px;color: white;">A division of Mmutlane Traders | In partnership with Mosetekoa Logistics | Host Integrado</p>
            </div>
                </div>
            </div>
            <br>
            </section>
{% endblock %}