{%extends 'base2.html'%}
{% load bootstrap4 %}
{% block content %}
{{ block.super}}

<section style="background-color:#CC3532 ;height: 170px;">
        <div class="container" style="text-align: center;">
          <h1 style="color: white;font-size:52px ;font-family: Lato, sans-serif;">All Courses</h1>
          <div class="container" style="background-color:#CC3532 ;">
            <p style="color: white;text-align:center;font-size: 20px;font-family: Lato, sans-serif;">
                    Our goal is to eradicate poverty and unemployment.We have visualized having branches 
                    in all the nine South African provinces with each ran by our most valued and 
                    trusted traders serving the same purpose with the help of that particular provinces’ residents, taking one province at a time.
      
            </p>
          </div>
        </div>
      </section>
<br><br><br><br><br>
      <div class="container">
          <div class="row">
                
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
            <div class="card">

                    <div class="card-body">
                     <img src="../../static/img/course.webp" alt="" class="img-fluid">
                     <br><br><br>
                     <h4 style="color: #DC4561;">
                            Click here to watch the videos of 2020 versions of FBK Strategies – All videos
                     </h4>
                     <br>
                     <p>Best trading tools, platforms and products to take you step-by-step through the process</p>
                     <br>
                     <a href="{% url 'cart' %}" class="btn btn-primary btn-block">See More..</a>
                     <br>
                     <p style="color:#0784E3 ;text-align: right;">0% complete</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"></div>
      </div>
    </div>

      <br><br><br>
<div class="container">
      <section style="border-style: groove;border-color:black ;border-width: 1px;">
            <section style="background-color: black;">
        
           <b> <h2 style="color: white;text-align: center;font-family: Lato, sans-serif;">NEW YEAR SPECIAL</h2></b>
            <h6 style="color: white;text-align: center;font-family: Lato, sans-serif;">Celebrating 2 years of FBK get 89% DISCOUNT (R8900 off)</h6>
            <br>
            </section>
    <div class="row">
            <div class="col text-center">
    
         <h1 style="font-family: Lato, sans-serif;">ZAR    1100 | 75$</h1>
            </div>
        </div>
    
           <br>
           <div class="row">
    
                <div class="col text-center">
          <b>  <p>
                   <i class='far fa-check-circle' style='font-size:24px;'></i>
                   The New Year Special is limited till 23 January 2020
              
                </p>
            </b>
            <div class="container">
            <hr>
        </div>
    
         
            </div>
           </div>
           <div class="row">
    
                <div class="col text-center">
           <p>
                <i class='fas fa-check' style='font-size:24px;'></i>
                Lifetime access
           
             </p>
                </div>
           </div>
         
         <div class="container">
         <hr>
     </div>
     <div class="row">
    
            <div class="col text-center">
     <p>
            <i class='fas fa-check' style='font-size:24px;'></i>
            Access all courses
       
         </p>
            </div>
     </div>
     
     <div class="container">
     <hr>
    </div>
    <div class="row">
    
            <div class="col text-center">
    <p>
            <i class='fas fa-check' style='font-size:24px;'></i>
            Access future courses
       
         </p>
            </div>
    </div>
     <div class="container">
     <hr>
    </div>
    <div class="row">
            <div class="col text-center">
                <a href="{% url 'cart' %}">    
                    <button style=" text-align: center;padding: 8px 37px; display: inline-block;border: none;background-color:black;color: white;">JOIN NOW!</button>
                </a>
    <br><br>
                <p style="font-size: 12px;">Special available till 23 January 2020</p>
    </div>
    
    </div>
    <br>
    
        </section>
<br><br><br><br>
<b><h3 style="text-align:center">What Our Students Have To Say</h3></b>
<br><br><br>
<div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <div class="card">
  
                <div class="card-body">
                 <br>
                 <p style="font-family: Lato, sans-serif;">Forex has changed my life, master the skills and you will never regret investing your time in forex</p>
                 <b><p style="font-family: Lato, sans-serif;">Sizwe Bhuda</p></b>
                 <p class="text-secondary" style="font-family: Lato, sans-serif;">Nelspruit, Mpumalanga</p>
                 
                </div>
              </div>

             

            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="card">
  
                            <div class="card-body">
                             <br>
                             <p style='font-family: Lato, sans-serif;'>Do yourself a favour. do your family a favour, learn forex Today and say hello to financial liberation</p>
                             <b><p style='font-family: Lato, sans-serif;'>Lerato Kubheka</p></b>
                             <p style='font-family: Lato, sans-serif;' class="text-secondary">New castle, KZN</p>
                             
                            </div>
                          </div>
            
                         
            
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <br>
                                <div class="card">
              
                                        <div class="card-body">
                                         <br>
                                         <p style='font-family: Lato, sans-serif;' >FBK is a game changer, the one minute FBK strategy worked for me and for that i will always be a FBK family member</p>
                                         <b><p style='font-family: Lato, sans-serif;'>Khutso Mokoen</p></b>
                                         <p style='font-family: Lato, sans-serif;' class="text-secondary">Pretoria, Gauteng</p>
                                        </div>
                                      </div>
                        
                                     
                        
                                    </div>


                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                        <br>
                                            <div class="card">
                          
                                                    <div class="card-body">
                                                     <br>
                                                     <p style='font-family: Lato, sans-serif;'>Level up! Join FBK Today and start learning the forex secrets. "it takes a minute to be a millionaire"</p>
                                                     <b><p style='font-family: Lato, sans-serif;'>Jack Brownn</p></b>
                                                     <p  style='font-family: Lato, sans-serif;' class="text-secondary">JHB, Gauteng</p>
                                                    </div>
                                                  </div>
                                    
                                                 
                                    
                                                </div>
    </div>
</div>
<br>




    <section style="background-color: #CC3532;">
            <br><br><br><br>
            <h1 style="color: white;text-align: center;font-family: Lato, sans-serif;">Our Values</h1>
          <br>
          <h5 style="text-align: center;color: white;font-family: Lato, sans-serif;">What we hold close at heart are characteristics of selflessness, reaching out and <br>
            creativity. We only employ people who want to be part of the movement and mission of<br> changing peoples’ lives. It is no longer a dream but a mission that has been accomplished <br> in our families, we dreamt, visualized and implemented, that part has been taken care of. <br> We are from poverty stricken families and we know how difficult that kind of life is, we
        <br> are not businessmen/women who are after money for our own enrichment and greed <br> and that is what our employees are taught from day one. We are here to serve and <br> change lives for generations to come with a 100% transparency.</h5>
            <br><br>
            <div class="container">
        <div class="row">
          
            <div class="col text-center">
        <a href="{% url 'portal' %}" class="btn btn-light btn-lg" style="color: #0784E3;">Start Learning</a>
        </div>
        
        </div>
        </div>
        <br>
            </section>
        
            <section style="background-color: #0784E3;">
                <br>
            <div class="container">
                <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <p style="font-size: 13px;color: white;">RISK WARNING: Forex trading involves significant risk of capital, read terms & conditions</p>
            
            
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            
            <p style="font-size: 13px;color: white;">A division of Mmutlane Traders | In partnership with Mosetekoa Logistics | Host Integrado</p>
            </div>
                </div>
            </div>
            <br>
            </section>
        
{% endblock %}