{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}

<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="../../static/js/time.js"></script>
</head>
<section style="height: 170px;background-color: #ED3F3D;">
    <div class="container" style="text-align: center;">
        <h1 style="color: white;font-size:52px ;">Learn Fundamental Forex Trading</h1>
        <div class="container" class="bg-danger">
            <h6 style="color: white;text-align:center;font-size: 20px;">Forex Broker Killer Strategies - Year 2020 is
                the future of trading!</h6>
        </div>
    </div>
</section>
<div class="container">

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">

            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"></div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                            <a href="https://www.youtube.com/watch?v=VJM9f2SLoIE&feature=youtu.be">
                            <i class='far fa-money-bill-alt' style='font-size:48px;color:#E33C39'></i>
                        </a>
                            <br><br>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"></div>
                    </div>
                    <b>
                        <h4 style="text-align: center;">FBK <br> Millionares <br> Show</h4>
                    </b>
                    <br>

                    <div style="text-align: center;">
                        <p>Click here to find <br>out The real<br>Reasons why <br>FBK<br>MILLIONARES<br>REALITY SHOW
                            <br>was cancelled on <br>National TV</p>
                    </div>
                    <br><br><br><br><br><br><br><br>
                </div>

            </div>


        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"></div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                            <a href="../../static/img/0_HUMAN FOREX ONE MINUTE STRATEGY-11-11-1-1-2-2-1-1-2-1-2.pdf">
                                <i class='fas fa-file-download rounded-circle'
                                    style='font-size:48px;color:#E33C39;border-radius:50px ;'></i>
                            </a>
                            <br><br>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"></div>
                    </div>

                    <b>
                        <h5 style="text-align: center;">Download Free Forex PDF</h5>
                    </b>
                    <br>

                    <div style="text-align: center;">
                        <p>Get free pdf version of Forex One Minute Strategy <br> Today! <br>"It takes a minute to
                            create wealth but forever to master <br>the art of trading" </p>
                        <br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
            <br><br><br><br><br>
            <!-- <i class='fab fa-facebook-square' style='font-size:50px;color:blue;'></i>
        <i class='fab fa-twitter-square' style='font-size:50px;color:#3FA8F2'></i>
        <i class='fab fa-youtube-square' style='font-size:50px;color:#E33C39'></i>
        <i class='fab fa-instagram' style='font-size:50px;color:black'></i>
        <i class='fab fa-whatsapp-square' style='font-size:50px;color:#56d475'></i> -->
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"></div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                            <a href="https://www.youtube.com/watch?v=oYhKoifvJT8&feature=youtu.be">
                            <i class='fas fa-calendar-check' style='font-size:48px;color:#E33C39'></i>
                        </a>
                            <br><br>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"></div>
                    </div>
                    <b>
                        <h4 style="text-align: center;">FBK Reality<br>Show is<br>BACK!</h4>
                    </b>


                    <div style="text-align: center;">
                        <p>Original FBK <br> Reality Show is <br>back Click Here <br>to watch<br>Episode number<br> 06! </p>
                    </div>
                    <br><br><br><br><br>
                </div>

            </div>
        </div>

    </div>

    <iframe width="1100" height="750" src="https://www.youtube.com/embed/EB_hQ9J7oqg" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        style="max-width: 100%;">
    </iframe>
    <div class="row">
        <div class="col text-center">
            <i class='fab fa-facebook-square' style='font-size:50px;color:blue;'></i>
            <i class='fab fa-twitter-square' style='font-size:50px;color:#3FA8F2'></i>
            <i class='fab fa-youtube-square' style='font-size:50px;color:#E33C39'></i>
            <i class='fab fa-instagram' style='font-size:50px;color:black'></i>
            <i class='fab fa-whatsapp-square' style='font-size:50px;color:#56d475'></i>
        </div>
    </div>
    <br><br>
    <h1 style=" text-shadow: 2px 2px #000000;text-align:center">We do not offer the following:</h1>
    <!-- slideshow -->
    <div class="slideshow-container">

        <div class="mySlides">
            <p style="font-size: 35px;color: red;">Investments</p>
          
        </div>

        <div class="mySlides">
                <p style="font-size: 35px;color: red;">Account Managment</p>
        </div>

        <div class="mySlides">
                <p style="font-size: 35px;color: red;">physical classes</p>
           
        </div>

        <div class="mySlides">
                <p style="border-style: groove;border-color:black ;border-width: 1px;margin-top: 12px;">Remember you need to be 18 years and older to use our services.</p>
            </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

    </div>

    <div class="dot-container">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>

    <br>
    <section>

        <img src="https://fbkonlineservices.com/wp-content/uploads/2019/09/FBK-Real-11-20180306_170852-100x100.jpg"
            class="mx-auto d-block img-fluid" alt="" style="width: 100px;">

    </section>

    <br><br><br><br>
    <div class="row">
        <div class="col text-center">
            <a href="{%url 'results'%}" class="btn btn-danger"><i class='fas fa-poll'
                    style='font-size:20px;color:white'></i> Student Results</a>


        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
            <p style="text-align: center;color: white;background-color: black;font-size: 40px;" id="demo"></p>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"></div>


    </div>
    <br>
    <div class="row">

        <div class="col text-center">

            <p style="text-align: center;color: white;background-color: black;font-size: 30px;">VALID TILL 02 JANUARY
                2020 </p>
        </div>



    </div>
    <br><br>

    <section style="border-style: groove;border-color:black ;border-width: 1px;">
        <section style="background-color:#E33C39;">

            <b>
                <h2 style="color: white;text-align: center;font-family: Lato, sans-serif;">New Year SPECIAL</h2>
            </b>
            <h6 style="color: white;text-align: center;font-family: Lato, sans-serif;">Celebrating 2 years of FBK get
                89% DISCOUNT (R8900 off)</h6>
            <br>
        </section>
        <div class="row">
            <div class="col text-center">

                <h1 style="font-family: Lato, sans-serif;">ZAR 700</h1>
            </div>
        </div>

        <br>
        <div class="row">

            <div class="col text-center">
                <b>
                    <p>
                        <i class='far fa-check-circle' style='font-size:24px;'></i>
                        The New Year Special is limited till 02 January 2020

                    </p>
                </b>
                <div class="container">
                    <hr>
                </div>


            </div>
        </div>
        <div class="row">

            <div class="col text-center">
                <p>
                    <i class='fas fa-check' style='font-size:24px;'></i>
                    Lifetime access

                </p>
            </div>
        </div>

        <div class="container">
            <hr>
        </div>
        <div class="row">

            <div class="col text-center">
                <p>
                    <i class='fas fa-check' style='font-size:24px;'></i>
                    Access all courses

                </p>
            </div>
        </div>

        <div class="container">
            <hr>
        </div>
        <div class="row">

            <div class="col text-center">
                <p>
                    <i class='fas fa-check' style='font-size:24px;'></i>
                    Access future courses

                </p>
            </div>
        </div>
        <div class="container">
            <hr>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="{% url 'portal' %}" class="hovver">
                    <button
                        style=" text-align: center;padding: 8px 37px; display: inline-block;border: none;background-color:#E33C39;color: white;">JOIN
                        NOW!</button>
                </a>
                <br><br>
                <p style="font-size: 12px;">Special available till 02 January 2020</p>
            </div>

        </div>
        <br>

    </section>
    <br>
    <section style="background-color: black;">
        <div class="row">
            <div class="col text-center">
                <img src="../../static/img/Bitcoin-Paypal.jpg" alt="" class="img-fluid" style="width: 200px;">
            </div>
        </div>
    </section>
    <br><br><br><br><br><br><br><br>
    <h4>PREMIUM PARTNERS | <img src="../../static/img/hostpartner.webp" alt="" class="img-fluid"
            style="width: 200px;"><img src="../../static/img/mutale.webp" style="width: 200px;" alt=""><img
            src="../../static/img/partner.webp" style="width: 200px;" alt="" class="img-fluid"></h4>
</div>

<section style="background-color: #E33C39;">
    <br><br><br><br>
    <h2 style="color: white;text-align: center;">MONITORED BY SHILE INVESTMENT</h2>
    <h2 style="color: white;text-align: center;">CONSULTING</h2>
    <br><br><br>
</section>

<section style="background-color: #0784E3;">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <p style="font-size: 13px;color: white;">RISK WARNING: Forex trading involves significant risk of
                    capital, read terms & conditions</p>


            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">

                <p style="font-size: 13px;color: white;">A division of Mmutlane Traders | In partnership with Mosetekoa
                    Logistics | Host Integrado</p>
            </div>
        </div>
    </div>
    <br><br>
</section>

<style>
    * {
        box-sizing: border-box
    }

    body {
        font-family: Verdana, sans-serif;
        margin: 0
    }

    /* Slideshow container */
    .slideshow-container {
        position: relative;
        background: #999999;
        height: 120px;
    }

    /* Slides */
    .mySlides {
        display: none;
        padding: 50px;
        text-align: center;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -10px;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
   

    /* The dot/bullet/indicator container */
    .dot-container {
        text-align: center;
        background: #999999;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 8px;
        width: 8px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    /* Add a background color to the active dot/circle */
    .active,
    .dot:hover {
        background-color: #717171;
    }

    /* Add an italic font style to all quotes */
    q {
        font-style: italic;
    }

    /* Add a blue color to the author */
    .author {
        color: cornflowerblue;
    }
</style>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000);
    }
</script>

{% endblock %}