{%extends "regbase.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    
    <div class="container-fluid">
        <div class="jumbotron" style="height: 80px;">
            <p>Send your proof of payment to our email address <b style="color: red;">: Inquire.fbk@yahoo.com</b></p>
        </div>
        <p style="color: red;"><b> Payment addresses are at the bottom of this page.Please scroll down!</b></p>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                <br>
                <div class="card">

                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                    <img src="../../static/img/cards.png" alt="" class="img-fluid" style="width: 250px;">
                            </div>
                </div>
                <a href="https://www.paypal.com/webapps/xoonboarding?token=2MF58368XJ431211G&useraction=commit&rm=1&mfid=1578342434375_32df06b238298&arc=1&country.x=KE&locale.x=en_US#/checkout/guest" class="btn btn-primary btn-block">Buy Now</a>
                    </div>
                </div>

        </div>
     
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                    <br>
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                    <div class="col text-center">
                            <img src="../../static/img/paypallogo.jpg" alt="" class="img-fluid" style="width: 180px;">
                                    </div>
                        </div>
                        <a href="https://www.paypal.com/" class="btn btn-primary btn-block">Buy Now</a>
                        <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="DSN72MDGQKAWE">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form> -->
                            
                            
                        </div>
                    </div>

                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                        <br>
                        <div class="card">
    
                            <div class="card-body">
                                <div class="row">
                                        <div class="col text-center">
                                <img src="../../static/img/skrill_logo.jpg" alt="" class="img-fluid" style="width: 270px;">
                                        </div>
                            </div>
                            <a href="https://www.skrill.com/" class="btn btn-primary btn-block">Buy Now</a>
                            </div>
                        </div>

                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                        <br>
                        <div class="card">
    
                            <div class="card-body">
                                <div class="row">
                                        <div class="col text-center">
                                <img src="../../static/img/netellerlogo.png" alt="" class="img-fluid" style="width: 200px;">
                                        </div>
                            </div>
                            <a href="https://www.neteller.com/" class="btn btn-primary btn-block">Buy Now</a>
                            </div>
                        </div>

                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                        <br>
                        <div class="card">
    
                            <div class="card-body">
                                <div class="row">
                                        <div class="col text-center">
                                <img src="../../static/img/perfectmoneylogo.png" alt="" class="img-fluid" style="width: 280px;">
                                        </div>
                            </div>
                            <a href="https://perfectmoney.is/" class="btn btn-primary btn-block">Buy Now</a>
                            </div>
                        </div>

                </div>
                
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                        <br>
                        <div class="card">
    
                            <div class="card-body">
                                <div class="row">
                                        <div class="col text-center">
                                <img src="../../static/img/bitcoin.jpg" alt="" class="img-fluid" style="width: 80px;">
                                        </div>
                            </div>
                            <a href="https://localbitcoins.com/" class="btn btn-primary btn-block">Buy Now</a>
                            </div>
                        </div>

                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                        <br>
                        <div class="card">
    
                            <div class="card-body">
                                <div class="row">
                                        <div class="col text-center">
                                <img src="../../static/img/bitpay2.jpg" alt="" class="img-fluid" style="width: 160px;">
                                        </div>
                            </div>
                            <a href="https://bitpay.com/" class="btn btn-primary btn-block">Buy Now</a>
                            </div>
                        </div>

                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                        <br>
                        <div class="card">
    
                            <div class="card-body">
                                <div class="row">
                                        <div class="col text-center">
                                <img src="../../static/img/luno.png" alt="" class="img-fluid" style="width: 165px;">
                                        </div>
                            </div>
                            <a href="https://www.luno.com/" class="btn btn-primary btn-block">Buy Now</a>
                            </div>
                        </div>

                </div>


        </div>
        <div class="jumbotron" style="max-width: 100%;">
                <p>Paypal payment address: <b>Fbkmerchantservices@gmail.com</b></p>
                <p>Neteller payment address: <b>eadrian821@gmail.com</b></p>
                <p>Skrill payment address: <b>Fbkmerchantservices@gmail.com</b></p>
                <p>Perfect money payment address: <b>eadrian821@gmail.com</b></p>
                <p>Bitpay payment address: <b>1x4iw8mZnca2M1Y5zyt3yLxtFEj83v5Fi</b></p>
                <p>Luno payment address: <b>1x4iw8mZnca2M1Y5zyt3yLxtFEj83v5Fi</b></p>
                <p>Bitcoin payment address: <b>1x4iw8mZnca2M1Y5zyt3yLxtFEj83v5Fi</b></p>




             </div>
    </div>
    
    <section style="background-color: #0784E3;">
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                        <p style="font-size: 13px;color: white;">RISK WARNING: Forex trading involves significant risk of
                            capital, read terms & conditions</p>
        
        
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
        
                        <p style="font-size: 13px;color: white;">A division of Mmutlane Traders | In partnership with Mosetekoa
                            Logistics | Host Integrado</p>
                    </div>
                </div>
            </div>
            <br><br>
        </section>
        
      <script>
          const publicKey = "{{ key }}";
  
          function payWithRave() {
              var x = getpaidSetup({
                  PBFPubKey: publicKey,
                  customer_email: "youremailaddress@gmail.com",
                  amount: 50,
                  customer_phone: "234099940409",
                  currency: "USD",
                  txref: "rave-123456",
                  custom_title: "FBK Strategies",
                  onclose: function() {},
                  callback: function(response) {
                      var txref = response.tx.txRef;
                      console.log("This is the response returned after a charge", response);
                      x.close();
                  }
              });
          }
      </script>
        {% endblock %}



       