{%extends 'base5.html'%}
{% load bootstrap4 %}
{% block content %}
{{ block.super}}

<br><br><br><br><br>
<div class="container">

  <div class="card" style="width: 75%;">


    <img src="../../static/img/course.webp" alt="" class="img-fluid" style="width: 90%;">

  </div>
  <br><br><br>
  <p style="font-family: Lato, sans-serif;font-size:20px"><i class="fa fa-list-alt"
      style="font-size:24px;color: blue;"></i> Course</p>

  <h5 style="color: green;">You are enrolled in this course</h5>
  <hr>

  <h4 style="color: red;font-family: Lato, sans-serif">Course Description</h4>
  <p>If you have traveled, you probably already have forex trading experience: when you buy the currency of your
    destination country while paying with your own currency, that is forex trading</p>

  <b>
    <h4 style="font-family: Lato, sans-serif"">Key Concepts Include:</h4></b>
    <ul>
      <li>Background of FBK</li>
      <li>Applications to use</li>
      <li>One minute strategy</li>
      <li>Brokers to use and trading platforms</li>
    </ul>
    <p>We are proud to connect independent traders to the potential of the global currency markets since 2018. Today, we continue to challenge ourselves to provide traders with what they need to succeed. Enrol Today!</p>
<br><br>
    <h4 style=" color: red;font-family: Lato, sans-serif">Course Content</h4>

    <div class="card">
      <br>
      <div class="container">
        <a href="{%url 'vid1'%}"><i class='far fa-circle' style='font-size:18px;color: grey;'></i> Watch Video - Modification of one
          minute strategy.</a>
      </div>
      <br>
    </div>
    <br>
    <div class="card">
      <br>
      <div class="container">
        <a href=""><i class='far fa-circle' style='font-size:18px;color: grey;'></i> Watch Video - Modification of one
          minute strategy.</a>
      </div>
      <br>
    </div>
    <br>
    <div class="card">
      <br>
      <div class="container">
        <a href=""><i class='far fa-circle' style='font-size:18px;color: grey;'></i> Watch Video - Modification of one
          minute strategy.</a>
      </div>
      <br>
    </div>
    <br>
    <div class="card">
      <br>
      <div class="container">
        <a href=""><i class='far fa-circle' style='font-size:18px;color: grey;'></i> Watch Video - Modification of one
          minute strategy.</a>
      </div>
      <br>
    </div>

    <br>
    <div class="card">
      <br>
      <div class="container">
        <a href=""><i class='far fa-circle' style='font-size:18px;color: grey;'></i> Watch Video - Modification of one
          minute strategy.</a>
      </div>
      <br>
    </div>

    <br>
        <div class="card">
            <br>
            <div class="container">
            <a href=""><i class='far fa-circle' style='font-size:18px;color: grey;'></i>  Watch Video -  Modification of one minute strategy.</a>
          </div>
          <br>
          </div>

          <br>
        <div class="card">
            <br>
            <div class="container">
            <a href=""><i class='far fa-circle' style='font-size:18px;color: grey;'></i>  Watch Video -  Modification of one minute strategy.</a>
          </div>
          <br>
          </div>

          <br>
          <div class="card">
              <br>
              <div class="container">
              <a href=""><i class='far fa-circle' style='font-size:18px;color: grey;'></i>  Watch Video -  Modification of one minute strategy.</a>
            </div>
            <br>
            </div>

            <br>
            <div class="card">
                <br>
                <div class="container">
                <a href=""><i class='far fa-circle' style='font-size:18px;color: grey;'></i>  Watch Video -  Modification of one minute strategy.</a>
              </div>
              <br>
              </div>

              <br>
              <div class="card">
                  <br>
                  <div class="container">
                  <a href=""><i class='far fa-circle' style='font-size:18px;color: grey;'></i>  Watch Video -  Modification of one minute strategy.</a>
                </div>
                <br>
                </div>

                <br>
                <div class="card">
                    <br>
                    <div class="container">
                    <a href=""><i class='far fa-circle' style='font-size:18px;color: grey;'></i>  Watch Video -  Modification of one minute strategy.</a>
                  </div>
                  <br>
                  </div>

                  <br>
                  <div class="card">
                      <br>
                      <div class="container">
                      <a href=""><i class='far fa-circle' style='font-size:18px;color: grey;'></i>  Watch Video -  Modification of one minute strategy.</a>
                    </div>
                    <br>
                    </div>

                    <br>
                    <div class="card">
                        <br>
                        <div class="container">
                        <a href=""><i class='far fa-circle' style='font-size:18px;color: grey;'></i>  Watch Video -  Modification of one minute strategy.</a>
                      </div>
                      <br>
                      </div>
</div>
<br><br><br>
<section style="background-color: #0784E3;">
    <br>
<div class="container">
    <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
<p style="font-size: 13px;color: white;">RISK WARNING: Forex trading involves significant risk of capital, read terms & conditions</p>


            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">

<p style="font-size: 13px;color: white;">A division of Mmutlane Traders | In partnership with Mosetekoa Logistics | Host Integrado</p>
</div>
    </div>
</div>
<br>
</section>
{% endblock %}